* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
}

:root {
    --orange: #f07167;
    --black: #343a40;
    --gray: #adb5bd;
    --darker-gray: #8292a1;
    --red: #f03e3e;
    --darker-red: #e03131;
    --green: #37b24d;
}

body {
    /* background-color: #fffcf6;*/
    font-family: Raleway;
}

header {
    margin-bottom: 96px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.logo {
    gap: 1rem;
}

    .logo h1 {
        color: var(--orange);
    }

.links-container {
    padding: 2rem 0;
}

    .links-container .link {
        padding: 2rem 2rem;
        color: var(--black);
        font-weight: 700;
        transition: 0.3s ease-out;
    }

        .links-container .link:hover {
            color: var(--orange);
        }

.logo img {
    height: 64px;
    width: 64px;
    cursor: pointer;
}

.hero {
    padding: 0 4rem;
}

    .hero img {
        width: 100%;
        margin: 24px 0;
    }

    .hero h1 {
        color: var(--orange);
        font-size: 48px;
        text-align: center;
    }

    .hero p {
        text-align: center;
        color: var(--black);
        padding: 0 12rem;
        font-size: 16px;
        margin-bottom: 48px;
    }

/* Carousel Section */
.carousel-section {
    position: relative;
    height: 100%;
    padding: 4rem;
    margin-bottom: 72px;
}

/* Featured Products */
.featured-products-section {
    padding: 0 4rem 72px 4rem;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.featured-head,
.see-more a,
.see-more i {
    color: var(--orange);
    font-weight: 700;
}

.see-more a {
    text-decoration: none;
}

.see-more i {
    margin: 0 1rem;
}

.see-more:hover > .seemore i {
    margin: 0 2rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    padding: 1rem 0;
}

.products-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

    .products-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.09);
    }

.product-info {
    padding: 1rem 1.6rem;
}

.prod-name {
    color: var(--black);
    font-weight: 700;
}

.price {
    color: var(--orange);
    font-weight: 700;
    font-size: 24px;
}

.discount {
    display: flex;
    color: var(--gray);
    gap: 1rem;
}

    .discount p {
        text-decoration: line-through;
    }

.featured-shops-section {
    padding: 0 4rem;
    margin-bottom: 8rem;
}

.shops-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

    .shops-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
    }

.shop-info {
    padding: 1rem 1.6rem;
}

    .shop-info span {
        color: var(--orange);
        font-weight: 700;
        font-size: 12px;
    }

    .shop-info p {
        margin-bottom: 1rem;
        color: var(--black);
        font-weight: 700;
        font-size: 18px;
    }

    .shop-info .view-shop-btn {
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        border: solid 2px var(--orange);
        color: var(--orange);
        padding: 12px 0;
        font-weight: 700;
        font-size: 14px;
        transition: 0.3s ease-in-out;
    }

.shops-card:hover > .shop-info .view-shop-btn {
    background-color: var(--orange);
    color: #fff;
}

.how-section {
    padding: 0 4rem 8rem 4rem;
}

    .how-section .subheading {
        color: var(--orange);
        font-weight: 700;
        font-size: 16px;
    }

    .how-section .heading {
        font-size: 32px;
    }

    .how-section p {
        color: var(--black);
    }

.steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 8rem 0 4rem 0;
}

.step {
    padding: 0 2rem;
    gap: 1rem;
}

    .step img {
        height: 128px;
    }

    .step h1 {
        color: var(--black);
    }

    .step p {
        color: var(--black);
        text-align: center;
    }

/* Join Us Section */
.join-us-section {
    padding: 0 6rem 72px 6rem;
}

.join-us-container {
    background-color: var(--orange);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
    padding: 0 4rem;
}

    .join-us-container .join-us-img {
        width: 80%px;
    }

        .join-us-container .join-us-img img {
            width: 100%;
        }

.btn-2 {
    background-color: var(--black);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border-style: none;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: 0.3s ease-out;
}

    .btn-2:hover {
        background-color: #222;
        color: #fff;
        padding: 1rem 4rem;
    }

.join-us-content {
    color: #fff;
    overflow-y: hidden;
    padding: 2rem 0;
}

    .join-us-content h1 {
        margin-bottom: 1rem;
        font-size: 32px;
    }

    .join-us-content p {
        margin-bottom: 2rem;
        font-size: 20px;
    }

/* Footer Section */
.footer-section {
    padding: 4rem 4rem;
    background-color: #fff;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.footer-logo img {
    height: 112px;
    margin-bottom: 1.6rem;
}

.social-media-links {
    gap: 1.6rem;
}

    .social-media-links i {
        color: var(--orange);
        font-size: 32px;
    }

.columns {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem 0 10rem;
}

.column {
    gap: 1rem;
}

    .column h1,
    .column a,
    .column p,
    .copyright {
        color: var(--black);
    }

    .column h1 {
        font-size: 18px;
    }

.copyright {
    text-align: center;
    color: var(--orange);
}

/* My Cart */
.cart-section {
    padding: 4rem 4rem 8rem 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.my-cart-card {
    border-bottom: 1px solid #f07167;
    padding: 2rem 0;
}

.product-name-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.chbx {
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 1rem;
}

.chbx {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    font: inherit;
    color: currentColor;
    border: 0.15em solid currentColor;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

    .chbx::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: CanvasText;
    }

    .chbx:checked::before {
        transform: scale(1);
    }

    .chbx:disabled {
        --form-control-color: var(--form-control-disabled);
        color: var(--form-control-disabled);
        cursor: not-allowed;
    }

.product-name {
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
}

.product-description {
    display: flex;
    gap: 2rem;
}

    .product-description img {
        height: 200px;
        width: 200px;
        flex-shrink: 0;
    }

.description-txt {
    color: var(--black);
    margin-bottom: 1rem;
}

.description span {
    background-color: var(--orange);
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}

.qty i {
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

    .qty i:hover {
        color: var(--orange);
    }

.qty p {
    font-weight: 700;
}

.qty i,
.qty p {
    font-size: 1.3rem;
    color: var(--black);
}

.qty .fa-trash {
    color: var(--red);
}

    .qty .fa-trash:hover {
        color: var(--darker-red);
    }

/* Order Summary */

.product-price {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item {
    border-bottom: 1px solid var(--black);
    padding-bottom: 1rem;
}

.select-all {
    display: flex;
    align-items: center;
}

    .select-all h1 {
        color: var(--orange);
    }

.qty {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.delivery {
    margin-top: 1rem;
}

.order-summary-container {
    background-color: #fff;
    padding: 1.6rem;
    border: 1px solid #aaa;
    height: fit-content;
}

.order-summary h1 {
    font-size: 16px;
    margin-bottom: 1rem;
}

.checkout input[type="button"] {
    background-color: var(--orange);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-style: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 100%;
    padding: 1rem 1rem;
    margin: 1rem 0;
}

    .checkout input[type="button"]:hover {
        background-color: #ed5145;
    }

.total-amt {
    font-size: 20px;
}

/* Menu Section */
.menu-section {
    padding: 0 4rem 72px 4rem;
}

.menu-heading {
    padding: 2rem 0;
    width: 100%;
}

    .menu-heading h1 {
        color: var(--orange);
        font-size: 28px;
        margin-bottom: 0.8rem;
    }

    .menu-heading p {
        margin-bottom: 2rem;
    }

.search-bar {
    background: url(../images/search.png) 7px 7px no-repeat scroll;
    background-size: 24px 24px;
    background-position: 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
    width: 80%;
    font-size: 16px;
    border-radius: 10px;
}

/* Product Info */
.product-info-section {
    padding: 2rem 4rem 72px 4rem;
}

.product-info-container {
    display: flex;
}

.product-img {
    height: 420px;
    width: 420px;
    overflow: hidden;
    flex-shrink: 0;
}

    .product-img img {
        height: 100%;
        width: 100%;
    }

.product-right {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .product-right .stars {
        font-size: 86px;
        color: yellow;
    }

    .product-right .product-description {
        font-size: 16px;
    }

.product-inputs {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.product-inputs .btn-3 {
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 100%;
    padding: 1rem 1rem;
}

.buy-now-btn {
    background: none;
    border: 2px solid var(--orange);
    color: var(--orange);
}

.buy-now-btn:hover {
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
}

.add-to-cart-btn {
    background-color: var(--orange);
    color: #fff;
    border-style: none;
}

.add-to-cart-btn:hover {
    background-color: #ed5145;
}

.qty-div {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.qty-div p {
    margin-right: 1rem;
}

.qty-div .counter {
    padding: 6px 12px;
    font-size: 20px;
}

.qty-div .qty-btn {
    height: 34px;
    width: 34px;
    background-color: #fff;
    border: 1px solid #999;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.qty-div .qty-btn input[type=button] {
    font-size: 28px;
    background: none;
    border-style: none;
    cursor: pointer;
    font-family: Raleway;
}

.qty-div .qty-btn:hover {
    background-color: #DDD;
}

.shop-section {
    padding: 2rem 4rem 72px 4rem;
}